1	Zusammensetzung	_	NOUN	_	_	1	_	_	_
2	des	_	DET	_	_	2	_	_	_
3	Parlaments	_	PROPN	_	_	3	_	_	_
4	:	_	PUNCT	_	_	4	_	_	_
5	siehe	_	VERB	_	_	5	_	_	_
6	Protokoll	_	PROPN	_	_	6	_	_	_

1	Genehmigung	_	NOUN	_	_	1	_	_	_
2	des	_	DET	_	_	2	_	_	_
3	Protokolls	_	NOUN	_	_	3	_	_	_
4	der	_	DET	_	_	4	_	_	_
5	vorangegangenen	_	ADJ	_	_	5	_	_	_
6	Sitzung	_	NOUN	_	_	6	_	_	_
7	:	_	PUNCT	_	_	7	_	_	_
8	siehe	_	VERB	_	_	8	_	_	_
9	Protokoll	_	PROPN	_	_	9	_	_	_

1	Zusammensetzung	_	NOUN	_	_	1	_	_	_
2	des	_	DET	_	_	2	_	_	_
3	Parlaments	_	PROPN	_	_	3	_	_	_
4	:	_	PUNCT	_	_	4	_	_	_
5	siehe	_	VERB	_	_	5	_	_	_
6	Protokoll	_	PROPN	_	_	6	_	_	_

1	Vorlage	_	NOUN	_	_	1	_	_	_
2	von	_	ADP	_	_	2	_	_	_
3	Dokumenten	_	NOUN	_	_	3	_	_	_
4	:	_	PUNCT	_	_	4	_	_	_
5	siehe	_	VERB	_	_	5	_	_	_
6	Protokoll	_	PROPN	_	_	6	_	_	_

1	Schriftliche	_	ADJ	_	_	1	_	_	_
2	Erklärungen	_	NOUN	_	_	2	_	_	_
3	und	_	CONJ	_	_	3	_	_	_
4	mündliche	_	ADJ	_	_	4	_	_	_
5	Anfragen	_	NOUN	_	_	5	_	_	_
6	(	_	PUNCT	_	_	6	_	_	_
7	Vorlage	_	NOUN	_	_	7	_	_	_
8	)	_	PUNCT	_	_	8	_	_	_
9	:	_	PUNCT	_	_	9	_	_	_
10	siehe	_	VERB	_	_	10	_	_	_
11	Protokoll	_	PROPN	_	_	11	_	_	_

1	Übermittlung	_	NOUN	_	_	1	_	_	_
2	von	_	ADP	_	_	2	_	_	_
3	Abkommenstexten	_	NOUN	_	_	3	_	_	_
4	durch	_	ADP	_	_	4	_	_	_
5	den	_	DET	_	_	5	_	_	_
6	Rat	_	NOUN	_	_	6	_	_	_
7	:	_	PUNCT	_	_	7	_	_	_
8	siehe	_	VERB	_	_	8	_	_	_
9	Protokoll	_	PROPN	_	_	9	_	_	_

1	Weiterbehandlung	_	NOUN	_	_	1	_	_	_
2	der	_	DET	_	_	2	_	_	_
3	Entschließungen	_	NOUN	_	_	3	_	_	_
4	des	_	DET	_	_	4	_	_	_
5	Parlaments	_	PROPN	_	_	5	_	_	_
6	:	_	PUNCT	_	_	6	_	_	_
7	siehe	_	VERB	_	_	7	_	_	_
8	Protokoll	_	PROPN	_	_	8	_	_	_

1	Tagesordnung	_	NOUN	_	_	1	_	_	_
2	der	_	DET	_	_	2	_	_	_
3	nächsten	_	ADJ	_	_	3	_	_	_
4	Sitzung	_	NOUN	_	_	4	_	_	_
5	:	_	PUNCT	_	_	5	_	_	_
6	siehe	_	VERB	_	_	6	_	_	_
7	Protokoll	_	PROPN	_	_	7	_	_	_

1	(	_	PUNCT	_	_	1	_	_	_
2	Die	_	DET	_	_	2	_	_	_
3	Sitzung	_	NOUN	_	_	3	_	_	_
4	wird	_	AUX	_	_	4	_	_	_
5	um	_	ADP	_	_	5	_	_	_
6	19.45	_	NUM	_	_	6	_	_	_
7	Uhr	_	NOUN	_	_	7	_	_	_
8	geschlossen	_	VERB	_	_	8	_	_	_
9	.	_	PUNCT	_	_	9	_	_	_
10	)	_	PUNCT	_	_	10	_	_	_

1	Tagesordnung	_	NOUN	_	_	1	_	_	_
2	der	_	DET	_	_	2	_	_	_
3	nächsten	_	ADJ	_	_	3	_	_	_
4	Sitzung	_	NOUN	_	_	4	_	_	_
5	:	_	PUNCT	_	_	5	_	_	_
6	siehe	_	VERB	_	_	6	_	_	_
7	Protokoll	_	PROPN	_	_	7	_	_	_

1	(	_	PUNCT	_	_	1	_	_	_
2	Die	_	DET	_	_	2	_	_	_
3	Sitzung	_	NOUN	_	_	3	_	_	_
4	wird	_	AUX	_	_	4	_	_	_
5	um	_	ADP	_	_	5	_	_	_
6	18.15	_	NUM	_	_	6	_	_	_
7	Uhr	_	NOUN	_	_	7	_	_	_
8	geschlossen	_	VERB	_	_	8	_	_	_
9	.	_	PUNCT	_	_	9	_	_	_
10	)	_	PUNCT	_	_	10	_	_	_

1	(	_	PUNCT	_	_	1	_	_	_
2	Die	_	DET	_	_	2	_	_	_
3	Sitzung	_	NOUN	_	_	3	_	_	_
4	wird	_	AUX	_	_	4	_	_	_
5	um	_	ADP	_	_	5	_	_	_
6	9.35	_	NUM	_	_	6	_	_	_
7	Uhr	_	NOUN	_	_	7	_	_	_
8	eröffnet	_	VERB	_	_	8	_	_	_
9	.	_	PUNCT	_	_	9	_	_	_
10	)	_	PUNCT	_	_	10	_	_	_

1	Vorlage	_	NOUN	_	_	1	_	_	_
2	von	_	ADP	_	_	2	_	_	_
3	Dokumenten	_	NOUN	_	_	3	_	_	_
4	:	_	PUNCT	_	_	4	_	_	_
5	siehe	_	VERB	_	_	5	_	_	_
6	Protokoll	_	PROPN	_	_	6	_	_	_

1	Genehmigung	_	NOUN	_	_	1	_	_	_
2	des	_	DET	_	_	2	_	_	_
3	Protokolls	_	NOUN	_	_	3	_	_	_
4	der	_	DET	_	_	4	_	_	_
5	vorangegangenen	_	ADJ	_	_	5	_	_	_
6	Sitzung	_	NOUN	_	_	6	_	_	_
7	:	_	PUNCT	_	_	7	_	_	_
8	siehe	_	VERB	_	_	8	_	_	_
9	Protokoll	_	PROPN	_	_	9	_	_	_

1	Zusammensetzung	_	NOUN	_	_	1	_	_	_
2	des	_	DET	_	_	2	_	_	_
3	Parlaments	_	PROPN	_	_	3	_	_	_
4	:	_	PUNCT	_	_	4	_	_	_
5	siehe	_	VERB	_	_	5	_	_	_
6	Protokoll	_	PROPN	_	_	6	_	_	_

1	Zusammensetzung	_	NOUN	_	_	1	_	_	_
2	der	_	DET	_	_	2	_	_	_
3	Ausschüsse	_	NOUN	_	_	3	_	_	_
4	(	_	PUNCT	_	_	4	_	_	_
5	Frist	_	NOUN	_	_	5	_	_	_
6	für	_	ADP	_	_	6	_	_	_
7	die	_	DET	_	_	7	_	_	_
8	Einreichung	_	NOUN	_	_	8	_	_	_
9	von	_	ADP	_	_	9	_	_	_
10	Änderungsanträgen	_	NOUN	_	_	10	_	_	_
11	)	_	PUNCT	_	_	11	_	_	_
12	:	_	PUNCT	_	_	12	_	_	_
13	siehe	_	VERB	_	_	13	_	_	_
14	Protokoll	_	PROPN	_	_	14	_	_	_

1	(	_	PUNCT	_	_	1	_	_	_
2	Die	_	DET	_	_	2	_	_	_
3	Sitzung	_	NOUN	_	_	3	_	_	_
4	wird	_	AUX	_	_	4	_	_	_
5	um	_	ADP	_	_	5	_	_	_
6	19.00	_	NUM	_	_	6	_	_	_
7	Uhr	_	NOUN	_	_	7	_	_	_
8	unterbrochen	_	VERB	_	_	8	_	_	_
9	und	_	CONJ	_	_	9	_	_	_
10	um	_	ADP	_	_	10	_	_	_
11	21.00	_	NUM	_	_	11	_	_	_
12	Uhr	_	NOUN	_	_	12	_	_	_
13	wieder	_	ADV	_	_	13	_	_	_
14	aufgenommen	_	VERB	_	_	14	_	_	_
15	.	_	PUNCT	_	_	15	_	_	_
16	)	_	PUNCT	_	_	16	_	_	_

1	Tagesordnung	_	NOUN	_	_	1	_	_	_
2	der	_	DET	_	_	2	_	_	_
3	nächsten	_	ADJ	_	_	3	_	_	_
4	Sitzung	_	NOUN	_	_	4	_	_	_
5	:	_	PUNCT	_	_	5	_	_	_
6	siehe	_	VERB	_	_	6	_	_	_
7	Protokoll	_	PROPN	_	_	7	_	_	_

1	(	_	PUNCT	_	_	1	_	_	_
2	Die	_	DET	_	_	2	_	_	_
3	Sitzung	_	NOUN	_	_	3	_	_	_
4	wird	_	AUX	_	_	4	_	_	_
5	um	_	ADP	_	_	5	_	_	_
6	23.25	_	NUM	_	_	6	_	_	_
7	Uhr	_	NOUN	_	_	7	_	_	_
8	geschlossen	_	VERB	_	_	8	_	_	_
9	.	_	PUNCT	_	_	9	_	_	_
10	)	_	PUNCT	_	_	10	_	_	_

1	Vorlage	_	NOUN	_	_	1	_	_	_
2	von	_	ADP	_	_	2	_	_	_
3	Dokumenten	_	NOUN	_	_	3	_	_	_
4	:	_	PUNCT	_	_	4	_	_	_
5	siehe	_	VERB	_	_	5	_	_	_
6	Protokoll	_	PROPN	_	_	6	_	_	_

1	Genehmigung	_	NOUN	_	_	1	_	_	_
2	des	_	DET	_	_	2	_	_	_
3	Protokolls	_	NOUN	_	_	3	_	_	_
4	der	_	DET	_	_	4	_	_	_
5	vorangegangenen	_	ADJ	_	_	5	_	_	_
6	Sitzung	_	NOUN	_	_	6	_	_	_
7	:	_	PUNCT	_	_	7	_	_	_
8	siehe	_	VERB	_	_	8	_	_	_
9	Protokoll	_	PROPN	_	_	9	_	_	_

1	Untersuchungsausschuss	_	NOUN	_	_	1	_	_	_
2	zum	_	ADJ	_	_	2	_	_	_
3	Zusammenbruch	_	NOUN	_	_	3	_	_	_
4	der	_	DET	_	_	4	_	_	_
5	"	_	PUNCT	_	_	5	_	_	_
6	Equitable	_	PROPN	_	_	6	_	_	_
7	Life	_	PROPN	_	_	7	_	_	_
8	Assurance	_	PROPN	_	_	8	_	_	_
9	Society	_	PROPN	_	_	9	_	_	_
10	"	_	PUNCT	_	_	10	_	_	_
11	(	_	PUNCT	_	_	11	_	_	_
12	Verlängerung	_	NOUN	_	_	12	_	_	_
13	des	_	DET	_	_	13	_	_	_
14	Mandats	_	NOUN	_	_	14	_	_	_
15	)	_	PUNCT	_	_	15	_	_	_
16	:	_	PUNCT	_	_	16	_	_	_
17	siehe	_	VERB	_	_	17	_	_	_
18	Protokoll	_	PROPN	_	_	18	_	_	_

1	Mitteilung	_	NOUN	_	_	1	_	_	_
2	des	_	DET	_	_	2	_	_	_
3	Präsidenten	_	NOUN	_	_	3	_	_	_
4	:	_	PUNCT	_	_	4	_	_	_
5	siehe	_	VERB	_	_	5	_	_	_
6	Protokoll	_	PROPN	_	_	6	_	_	_

1	Berichtigungen	_	NOUN	_	_	1	_	_	_
2	des	_	DET	_	_	2	_	_	_
3	Stimmverhaltens	_	NOUN	_	_	3	_	_	_
4	und	_	CONJ	_	_	4	_	_	_
5	beabsichtigtes	_	ADJ	_	_	5	_	_	_
6	Stimmverhalten	_	NOUN	_	_	6	_	_	_
7	:	_	PUNCT	_	_	7	_	_	_
8	siehe	_	VERB	_	_	8	_	_	_
9	Protokoll	_	PROPN	_	_	9	_	_	_

1	Zusammensetzung	_	NOUN	_	_	1	_	_	_
2	der	_	DET	_	_	2	_	_	_
3	Ausschüsse	_	NOUN	_	_	3	_	_	_
4	und	_	CONJ	_	_	4	_	_	_
5	der	_	DET	_	_	5	_	_	_
6	Delegationen	_	NOUN	_	_	6	_	_	_
7	:	_	PUNCT	_	_	7	_	_	_
8	siehe	_	VERB	_	_	8	_	_	_
9	Protokoll	_	PROPN	_	_	9	_	_	_

1	Antrag	_	NOUN	_	_	1	_	_	_
2	auf	_	ADP	_	_	2	_	_	_
3	Aufhebung	_	NOUN	_	_	3	_	_	_
4	der	_	DET	_	_	4	_	_	_
5	parlamentarischen	_	ADJ	_	_	5	_	_	_
6	Immunität	_	NOUN	_	_	6	_	_	_
7	:	_	PUNCT	_	_	7	_	_	_
8	siehe	_	VERB	_	_	8	_	_	_
9	Protokoll	_	PROPN	_	_	9	_	_	_

1	Beschlüsse	_	NOUN	_	_	1	_	_	_
2	betreffend	_	ADJ	_	_	2	_	_	_
3	bestimmte	_	ADJ	_	_	3	_	_	_
4	Dokumente	_	NOUN	_	_	4	_	_	_
5	:	_	PUNCT	_	_	5	_	_	_
6	siehe	_	VERB	_	_	6	_	_	_
7	Protokoll	_	PROPN	_	_	7	_	_	_

1	In	_	ADP	_	_	1	_	_	_
2	das	_	DET	_	_	2	_	_	_
3	Register	_	NOUN	_	_	3	_	_	_
4	eingetragene	_	ADJ	_	_	4	_	_	_
5	schriftliche	_	ADJ	_	_	5	_	_	_
6	Erklärungen	_	NOUN	_	_	6	_	_	_
7	(	_	PUNCT	_	_	7	_	_	_
8	Artikel	_	NOUN	_	_	8	_	_	_
9	116	_	PROPN	_	_	9	_	_	_
10	GO	_	PROPN	_	_	10	_	_	_
11	)	_	PUNCT	_	_	11	_	_	_
12	:	_	PUNCT	_	_	12	_	_	_
13	siehe	_	VERB	_	_	13	_	_	_
14	Protokoll	_	PROPN	_	_	14	_	_	_

1	Übermittlung	_	NOUN	_	_	1	_	_	_
2	der	_	DET	_	_	2	_	_	_
3	in	_	ADP	_	_	3	_	_	_
4	dieser	_	PRON	_	_	4	_	_	_
5	Sitzung	_	NOUN	_	_	5	_	_	_
6	angenommenen	_	ADJ	_	_	6	_	_	_
7	Texte	_	NOUN	_	_	7	_	_	_
8	:	_	PUNCT	_	_	8	_	_	_
9	siehe	_	VERB	_	_	9	_	_	_
10	Protokoll	_	PROPN	_	_	10	_	_	_

1	Zeitpunkt	_	NOUN	_	_	1	_	_	_
2	der	_	DET	_	_	2	_	_	_
3	nächsten	_	ADJ	_	_	3	_	_	_
4	Sitzungen	_	NOUN	_	_	4	_	_	_
5	:	_	PUNCT	_	_	5	_	_	_
6	siehe	_	VERB	_	_	6	_	_	_
7	Protokoll	_	PROPN	_	_	7	_	_	_

1	Ich	_	PRON	_	_	1	_	_	_
2	erkläre	_	VERB	_	_	2	_	_	_
3	die	_	DET	_	_	3	_	_	_
4	Sitzungsperiode	_	NOUN	_	_	4	_	_	_
5	des	_	DET	_	_	5	_	_	_
6	Europäischen	_	PROPN	_	_	6	_	_	_
7	Parlaments	_	PROPN	_	_	7	_	_	_
8	für	_	PROPN	_	_	8	_	_	_
9	unterbrochen	_	VERB	_	_	9	_	_	_
10	.	_	PUNCT	_	_	10	_	_	_

1	(	_	PUNCT	_	_	1	_	_	_
2	Die	_	DET	_	_	2	_	_	_
3	Sitzung	_	NOUN	_	_	3	_	_	_
4	wird	_	AUX	_	_	4	_	_	_
5	um	_	ADP	_	_	5	_	_	_
6	13.00	_	NUM	_	_	6	_	_	_
7	Uhr	_	NOUN	_	_	7	_	_	_
8	geschlossen	_	VERB	_	_	8	_	_	_
9	.	_	PUNCT	_	_	9	_	_	_
10	)	_	PUNCT	_	_	10	_	_	_

1	Genehmigung	_	NOUN	_	_	1	_	_	_
2	des	_	DET	_	_	2	_	_	_
3	Protokolls	_	NOUN	_	_	3	_	_	_
4	der	_	DET	_	_	4	_	_	_
5	vorangegangenen	_	ADJ	_	_	5	_	_	_
6	Sitzung	_	NOUN	_	_	6	_	_	_
7	:	_	PUNCT	_	_	7	_	_	_
8	siehe	_	VERB	_	_	8	_	_	_
9	Protokoll	_	PROPN	_	_	9	_	_	_

1	Zusammensetzung	_	NOUN	_	_	1	_	_	_
2	des	_	DET	_	_	2	_	_	_
3	Parlaments	_	PROPN	_	_	3	_	_	_
4	:	_	PUNCT	_	_	4	_	_	_
5	siehe	_	VERB	_	_	5	_	_	_
6	Protokoll	_	PROPN	_	_	6	_	_	_

1	Antrag	_	NOUN	_	_	1	_	_	_
2	auf	_	ADP	_	_	2	_	_	_
3	Schutz	_	NOUN	_	_	3	_	_	_
4	der	_	DET	_	_	4	_	_	_
5	parlamentarischen	_	ADJ	_	_	5	_	_	_
6	Immunität	_	NOUN	_	_	6	_	_	_
7	:	_	PUNCT	_	_	7	_	_	_
8	siehe	_	VERB	_	_	8	_	_	_
9	Protokoll	_	PROPN	_	_	9	_	_	_

1	Benennungen	_	NOUN	_	_	1	_	_	_
2	in	_	ADP	_	_	2	_	_	_
3	die	_	DET	_	_	3	_	_	_
4	Ausschüsse	_	NOUN	_	_	4	_	_	_
5	(	_	PUNCT	_	_	5	_	_	_
6	Vorschlag	_	NOUN	_	_	6	_	_	_
7	der	_	DET	_	_	7	_	_	_
8	Konferenz	_	NOUN	_	_	8	_	_	_
9	der	_	DET	_	_	9	_	_	_
10	Präsidenten	_	NOUN	_	_	10	_	_	_
11	)	_	PUNCT	_	_	11	_	_	_
12	:	_	PUNCT	_	_	12	_	_	_
13	siehe	_	VERB	_	_	13	_	_	_
14	Protokoll	_	PROPN	_	_	14	_	_	_

1	Vorlage	_	NOUN	_	_	1	_	_	_
2	von	_	ADP	_	_	2	_	_	_
3	Dokumenten	_	NOUN	_	_	3	_	_	_
4	:	_	PUNCT	_	_	4	_	_	_
5	siehe	_	VERB	_	_	5	_	_	_
6	Protokoll	_	PROPN	_	_	6	_	_	_

1	Übermittlung	_	NOUN	_	_	1	_	_	_
2	von	_	ADP	_	_	2	_	_	_
3	Abkommenstexten	_	NOUN	_	_	3	_	_	_
4	durch	_	ADP	_	_	4	_	_	_
5	den	_	DET	_	_	5	_	_	_
6	Rat	_	NOUN	_	_	6	_	_	_
7	:	_	PUNCT	_	_	7	_	_	_
8	siehe	_	VERB	_	_	8	_	_	_
9	Protokoll	_	PROPN	_	_	9	_	_	_

1	Weiterbehandlung	_	NOUN	_	_	1	_	_	_
2	der	_	DET	_	_	2	_	_	_
3	Entschließungen	_	NOUN	_	_	3	_	_	_
4	des	_	DET	_	_	4	_	_	_
5	Parlaments	_	PROPN	_	_	5	_	_	_
6	:	_	PUNCT	_	_	6	_	_	_
7	siehe	_	VERB	_	_	7	_	_	_
8	Protokoll	_	PROPN	_	_	8	_	_	_

1	Mündliche	_	PROPN	_	_	1	_	_	_
2	Anfragen	_	NOUN	_	_	2	_	_	_
3	und	_	CONJ	_	_	3	_	_	_
4	schriftliche	_	ADJ	_	_	4	_	_	_
5	Erklärungen	_	NOUN	_	_	5	_	_	_
6	(	_	PUNCT	_	_	6	_	_	_
7	Vorlage	_	NOUN	_	_	7	_	_	_
8	)	_	PUNCT	_	_	8	_	_	_
9	:	_	PUNCT	_	_	9	_	_	_
10	siehe	_	VERB	_	_	10	_	_	_
11	Protokoll	_	PROPN	_	_	11	_	_	_

1	Schriftliche	_	ADJ	_	_	1	_	_	_
2	Erklärungen	_	NOUN	_	_	2	_	_	_
3	(	_	PUNCT	_	_	3	_	_	_
4	Artikel	_	NOUN	_	_	4	_	_	_
5	116	_	PROPN	_	_	5	_	_	_
6	GO	_	PROPN	_	_	6	_	_	_
7	)	_	PUNCT	_	_	7	_	_	_
8	:	_	PUNCT	_	_	8	_	_	_
9	siehe	_	VERB	_	_	9	_	_	_
10	Protokoll	_	PROPN	_	_	10	_	_	_

1	Tagesordnung	_	NOUN	_	_	1	_	_	_
2	der	_	DET	_	_	2	_	_	_
3	nächsten	_	ADJ	_	_	3	_	_	_
4	Sitzung	_	NOUN	_	_	4	_	_	_
5	:	_	PUNCT	_	_	5	_	_	_
6	siehe	_	VERB	_	_	6	_	_	_
7	Protokoll	_	PROPN	_	_	7	_	_	_

1	(	_	PUNCT	_	_	1	_	_	_
2	Die	_	DET	_	_	2	_	_	_
3	Sitzung	_	NOUN	_	_	3	_	_	_
4	wird	_	AUX	_	_	4	_	_	_
5	um	_	ADP	_	_	5	_	_	_
6	24.00	_	NUM	_	_	6	_	_	_
7	Uhr	_	NOUN	_	_	7	_	_	_
8	geschlossen	_	VERB	_	_	8	_	_	_
9	.	_	PUNCT	_	_	9	_	_	_
10	)	_	PUNCT	_	_	10	_	_	_

1	(	_	PUNCT	_	_	1	_	_	_
2	Die	_	DET	_	_	2	_	_	_
3	Sitzung	_	NOUN	_	_	3	_	_	_
4	wird	_	AUX	_	_	4	_	_	_
5	um	_	ADP	_	_	5	_	_	_
6	9.05	_	NUM	_	_	6	_	_	_
7	Uhr	_	NOUN	_	_	7	_	_	_
8	eröffnet	_	VERB	_	_	8	_	_	_
9	.	_	PUNCT	_	_	9	_	_	_
10	)	_	PUNCT	_	_	10	_	_	_

1	Vorlage	_	NOUN	_	_	1	_	_	_
2	von	_	ADP	_	_	2	_	_	_
3	Dokumenten	_	NOUN	_	_	3	_	_	_
4	:	_	PUNCT	_	_	4	_	_	_
5	siehe	_	VERB	_	_	5	_	_	_
6	Protokoll	_	PROPN	_	_	6	_	_	_

1	Genehmigung	_	NOUN	_	_	1	_	_	_
2	des	_	DET	_	_	2	_	_	_
3	Protokolls	_	NOUN	_	_	3	_	_	_
4	der	_	DET	_	_	4	_	_	_
5	vorangegangenen	_	ADJ	_	_	5	_	_	_
6	Sitzung	_	NOUN	_	_	6	_	_	_
7	:	_	PUNCT	_	_	7	_	_	_
8	siehe	_	VERB	_	_	8	_	_	_
9	Protokoll	_	PROPN	_	_	9	_	_	_

1	Berichtigungen	_	NOUN	_	_	1	_	_	_
2	des	_	DET	_	_	2	_	_	_
3	Stimmverhaltens	_	NOUN	_	_	3	_	_	_
4	und	_	CONJ	_	_	4	_	_	_
5	beabsichtigtes	_	ADJ	_	_	5	_	_	_
6	Stimmverhalten	_	NOUN	_	_	6	_	_	_
7	:	_	PUNCT	_	_	7	_	_	_
8	siehe	_	VERB	_	_	8	_	_	_
9	Protokoll	_	PROPN	_	_	9	_	_	_

1	Einem	_	DET	_	_	1	_	_	_
2	Mitglied	_	NOUN	_	_	2	_	_	_
3	übertragene	_	ADJ	_	_	3	_	_	_
4	Aufgabe	_	NOUN	_	_	4	_	_	_
5	:	_	PUNCT	_	_	5	_	_	_
6	siehe	_	VERB	_	_	6	_	_	_
7	Protokoll	_	PROPN	_	_	7	_	_	_

1	Zusammensetzung	_	NOUN	_	_	1	_	_	_
2	der	_	DET	_	_	2	_	_	_
3	Ausschüsse	_	NOUN	_	_	3	_	_	_
4	und	_	CONJ	_	_	4	_	_	_
5	der	_	DET	_	_	5	_	_	_
6	Delegationen	_	NOUN	_	_	6	_	_	_
7	:	_	PUNCT	_	_	7	_	_	_
8	siehe	_	VERB	_	_	8	_	_	_
9	Protokoll	_	PROPN	_	_	9	_	_	_

1	Beschlüsse	_	NOUN	_	_	1	_	_	_
2	betreffend	_	ADJ	_	_	2	_	_	_
3	bestimmte	_	ADJ	_	_	3	_	_	_
4	Dokumente	_	NOUN	_	_	4	_	_	_
5	:	_	PUNCT	_	_	5	_	_	_
6	siehe	_	VERB	_	_	6	_	_	_
7	Protokoll	_	PROPN	_	_	7	_	_	_

1	Übermittlung	_	NOUN	_	_	1	_	_	_
2	der	_	DET	_	_	2	_	_	_
3	in	_	ADP	_	_	3	_	_	_
4	dieser	_	PRON	_	_	4	_	_	_
5	Sitzung	_	NOUN	_	_	5	_	_	_
6	angenommenen	_	ADJ	_	_	6	_	_	_
7	Texte	_	NOUN	_	_	7	_	_	_
8	:	_	PUNCT	_	_	8	_	_	_
9	siehe	_	VERB	_	_	9	_	_	_
10	Protokoll	_	PROPN	_	_	10	_	_	_

1	Zeitpunkt	_	NOUN	_	_	1	_	_	_
2	der	_	DET	_	_	2	_	_	_
3	nächsten	_	ADJ	_	_	3	_	_	_
4	Sitzungen	_	NOUN	_	_	4	_	_	_
5	:	_	PUNCT	_	_	5	_	_	_
6	siehe	_	VERB	_	_	6	_	_	_
7	Protokoll	_	PROPN	_	_	7	_	_	_

1	Genehmigung	_	NOUN	_	_	1	_	_	_
2	des	_	DET	_	_	2	_	_	_
3	Protokolls	_	NOUN	_	_	3	_	_	_
4	der	_	DET	_	_	4	_	_	_
5	vorangegangenen	_	ADJ	_	_	5	_	_	_
6	Sitzung	_	NOUN	_	_	6	_	_	_
7	:	_	PUNCT	_	_	7	_	_	_
8	siehe	_	VERB	_	_	8	_	_	_
9	Protokoll	_	PROPN	_	_	9	_	_	_

1	Vorlage	_	NOUN	_	_	1	_	_	_
2	von	_	ADP	_	_	2	_	_	_
3	Dokumenten	_	NOUN	_	_	3	_	_	_
4	:	_	PUNCT	_	_	4	_	_	_
5	siehe	_	VERB	_	_	5	_	_	_
6	Protokoll	_	PROPN	_	_	6	_	_	_

1	Beschlüsse	_	NOUN	_	_	1	_	_	_
2	über	_	ADP	_	_	2	_	_	_
3	bestimmte	_	ADJ	_	_	3	_	_	_
4	Dokumente	_	NOUN	_	_	4	_	_	_
5	:	_	PUNCT	_	_	5	_	_	_
6	siehe	_	VERB	_	_	6	_	_	_
7	Protokoll	_	PROPN	_	_	7	_	_	_

1	Zusammensetzung	_	NOUN	_	_	1	_	_	_
2	des	_	DET	_	_	2	_	_	_
3	Parlaments	_	PROPN	_	_	3	_	_	_
4	:	_	PUNCT	_	_	4	_	_	_
5	siehe	_	VERB	_	_	5	_	_	_
6	Protokoll	_	PROPN	_	_	6	_	_	_

1	Zusammensetzung	_	NOUN	_	_	1	_	_	_
2	der	_	DET	_	_	2	_	_	_
3	Ausschüsse	_	NOUN	_	_	3	_	_	_
4	und	_	CONJ	_	_	4	_	_	_
5	der	_	DET	_	_	5	_	_	_
6	Delegationen	_	NOUN	_	_	6	_	_	_
7	:	_	PUNCT	_	_	7	_	_	_
8	siehe	_	VERB	_	_	8	_	_	_
9	Protokoll	_	PROPN	_	_	9	_	_	_

1	Schriftliche	_	ADJ	_	_	1	_	_	_
2	Erklärungen	_	NOUN	_	_	2	_	_	_
3	(	_	PUNCT	_	_	3	_	_	_
4	Artikel	_	NOUN	_	_	4	_	_	_
5	116	_	PROPN	_	_	5	_	_	_
6	GO	_	PROPN	_	_	6	_	_	_
7	)	_	PUNCT	_	_	7	_	_	_
8	:	_	PUNCT	_	_	8	_	_	_
9	siehe	_	VERB	_	_	9	_	_	_
10	Protokoll	_	PROPN	_	_	10	_	_	_

1	Weiterbehandlung	_	NOUN	_	_	1	_	_	_
2	der	_	DET	_	_	2	_	_	_
3	Standpunkte	_	NOUN	_	_	3	_	_	_
4	und	_	CONJ	_	_	4	_	_	_
5	Entschließungen	_	NOUN	_	_	5	_	_	_
6	des	_	DET	_	_	6	_	_	_
7	Parlaments	_	PROPN	_	_	7	_	_	_
8	:	_	PUNCT	_	_	8	_	_	_
9	siehe	_	VERB	_	_	9	_	_	_
10	Protokoll	_	PROPN	_	_	10	_	_	_

1	Mündliche	_	PROPN	_	_	1	_	_	_
2	Anfragen	_	NOUN	_	_	2	_	_	_
3	und	_	CONJ	_	_	3	_	_	_
4	schriftliche	_	ADJ	_	_	4	_	_	_
5	Erklärungen	_	NOUN	_	_	5	_	_	_
6	(	_	PUNCT	_	_	6	_	_	_
7	Vorlage	_	NOUN	_	_	7	_	_	_
8	)	_	PUNCT	_	_	8	_	_	_
9	:	_	PUNCT	_	_	9	_	_	_
10	siehe	_	VERB	_	_	10	_	_	_
11	Protokoll	_	PROPN	_	_	11	_	_	_

1	Tagesordnung	_	NOUN	_	_	1	_	_	_
2	der	_	DET	_	_	2	_	_	_
3	nächsten	_	ADJ	_	_	3	_	_	_
4	Sitzung	_	NOUN	_	_	4	_	_	_
5	:	_	PUNCT	_	_	5	_	_	_
6	siehe	_	VERB	_	_	6	_	_	_
7	Protokoll	_	PROPN	_	_	7	_	_	_

1	(	_	PUNCT	_	_	1	_	_	_
2	Die	_	DET	_	_	2	_	_	_
3	Sitzung	_	NOUN	_	_	3	_	_	_
4	wird	_	AUX	_	_	4	_	_	_
5	um	_	ADP	_	_	5	_	_	_
6	10.05	_	NUM	_	_	6	_	_	_
7	Uhr	_	NOUN	_	_	7	_	_	_
8	eröffnet	_	VERB	_	_	8	_	_	_
9	.	_	PUNCT	_	_	9	_	_	_
10	)	_	PUNCT	_	_	10	_	_	_

1	Aussprache	_	NOUN	_	_	1	_	_	_
2	über	_	ADP	_	_	2	_	_	_
3	Fälle	_	NOUN	_	_	3	_	_	_
4	von	_	ADP	_	_	4	_	_	_
5	Verletzungen	_	NOUN	_	_	5	_	_	_
6	der	_	DET	_	_	6	_	_	_
7	Menschenrechte	_	NOUN	_	_	7	_	_	_
8	,	_	PUNCT	_	_	8	_	_	_
9	der	_	DET	_	_	9	_	_	_
10	Demokratie	_	NOUN	_	_	10	_	_	_
11	und	_	CONJ	_	_	11	_	_	_
12	der	_	DET	_	_	12	_	_	_
13	Rechtsstaatlichkeit	_	NOUN	_	_	13	_	_	_
14	(	_	PUNCT	_	_	14	_	_	_
15	Bekanntgabe	_	NOUN	_	_	15	_	_	_
16	der	_	DET	_	_	16	_	_	_
17	eingereichten	_	ADJ	_	_	17	_	_	_
18	Entschließungsanträge	_	NOUN	_	_	18	_	_	_
19	)	_	PUNCT	_	_	19	_	_	_
20	:	_	PUNCT	_	_	20	_	_	_
21	siehe	_	VERB	_	_	21	_	_	_
22	Protokoll	_	PROPN	_	_	22	_	_	_

1	Berichtigungen	_	NOUN	_	_	1	_	_	_
2	des	_	DET	_	_	2	_	_	_
3	Stimmverhaltens	_	NOUN	_	_	3	_	_	_
4	und	_	CONJ	_	_	4	_	_	_
5	beabsichtigtes	_	ADJ	_	_	5	_	_	_
6	Stimmverhalten	_	NOUN	_	_	6	_	_	_
7	:	_	PUNCT	_	_	7	_	_	_
8	siehe	_	VERB	_	_	8	_	_	_
9	Protokoll	_	PROPN	_	_	9	_	_	_

1	(	_	PUNCT	_	_	1	_	_	_
2	Die	_	DET	_	_	2	_	_	_
3	Sitzung	_	NOUN	_	_	3	_	_	_
4	wird	_	AUX	_	_	4	_	_	_
5	um	_	ADP	_	_	5	_	_	_
6	13.10	_	NUM	_	_	6	_	_	_
7	Uhr	_	NOUN	_	_	7	_	_	_
8	unterbrochen	_	VERB	_	_	8	_	_	_
9	und	_	CONJ	_	_	9	_	_	_
10	um	_	ADP	_	_	10	_	_	_
11	15.00	_	NUM	_	_	11	_	_	_
12	Uhr	_	NOUN	_	_	12	_	_	_
13	wieder	_	ADV	_	_	13	_	_	_
14	aufgenommen	_	VERB	_	_	14	_	_	_
15	.	_	PUNCT	_	_	15	_	_	_
16	)	_	PUNCT	_	_	16	_	_	_

1	Mitteilung	_	NOUN	_	_	1	_	_	_
2	des	_	DET	_	_	2	_	_	_
3	Präsidenten	_	NOUN	_	_	3	_	_	_
4	:	_	PUNCT	_	_	4	_	_	_
5	siehe	_	VERB	_	_	5	_	_	_
6	Protokoll	_	PROPN	_	_	6	_	_	_

1	(	_	PUNCT	_	_	1	_	_	_
2	Die	_	DET	_	_	2	_	_	_
3	Sitzung	_	NOUN	_	_	3	_	_	_
4	wird	_	AUX	_	_	4	_	_	_
5	um	_	ADP	_	_	5	_	_	_
6	19.05	_	NUM	_	_	6	_	_	_
7	Uhr	_	NOUN	_	_	7	_	_	_
8	unterbrochen	_	VERB	_	_	8	_	_	_
9	und	_	CONJ	_	_	9	_	_	_
10	um	_	ADP	_	_	10	_	_	_
11	21.00	_	NUM	_	_	11	_	_	_
12	Uhr	_	NOUN	_	_	12	_	_	_
13	wieder	_	ADV	_	_	13	_	_	_
14	aufgenommen	_	VERB	_	_	14	_	_	_
15	.	_	PUNCT	_	_	15	_	_	_
16	)	_	PUNCT	_	_	16	_	_	_

1	Klimawandel	_	NOUN	_	_	1	_	_	_
2	(	_	PUNCT	_	_	2	_	_	_
3	annonce	_	PROPN	_	_	3	_	_	_
4	de	_	PROPN	_	_	4	_	_	_
5	propositions	_	PROPN	_	_	5	_	_	_
6	de	_	PROPN	_	_	6	_	_	_
7	résolution	_	PROPN	_	_	7	_	_	_
8	déposées	_	PROPN	_	_	8	_	_	_
9	)	_	PUNCT	_	_	9	_	_	_
10	:	_	PUNCT	_	_	10	_	_	_
11	siehe	_	VERB	_	_	11	_	_	_
12	Protokoll	_	PROPN	_	_	12	_	_	_

1	PNR	_	PROPN	_	_	1	_	_	_
2	/	_	PUNCT	_	_	2	_	_	_
3	SWIFT	_	PROPN	_	_	3	_	_	_
4	(	_	PUNCT	_	_	4	_	_	_
5	eingereichte	_	ADJ	_	_	5	_	_	_
6	Entschließungsanträge	_	NOUN	_	_	6	_	_	_
7	)	_	PUNCT	_	_	7	_	_	_
8	:	_	PUNCT	_	_	8	_	_	_
9	siehe	_	VERB	_	_	9	_	_	_
10	Protokoll	_	PROPN	_	_	10	_	_	_

1	Tagesordnung	_	NOUN	_	_	1	_	_	_
2	der	_	DET	_	_	2	_	_	_
3	nächsten	_	ADJ	_	_	3	_	_	_
4	Sitzung	_	NOUN	_	_	4	_	_	_
5	:	_	PUNCT	_	_	5	_	_	_
6	siehe	_	VERB	_	_	6	_	_	_
7	Protokoll	_	PROPN	_	_	7	_	_	_

1	(	_	PUNCT	_	_	1	_	_	_
2	Die	_	DET	_	_	2	_	_	_
3	Sitzung	_	NOUN	_	_	3	_	_	_
4	wird	_	AUX	_	_	4	_	_	_
5	um	_	ADP	_	_	5	_	_	_
6	24.00	_	NUM	_	_	6	_	_	_
7	Uhr	_	NOUN	_	_	7	_	_	_
8	geschlossen	_	VERB	_	_	8	_	_	_
9	.	_	PUNCT	_	_	9	_	_	_
10	)	_	PUNCT	_	_	10	_	_	_

1	(	_	PUNCT	_	_	1	_	_	_
2	Die	_	DET	_	_	2	_	_	_
3	Sitzung	_	NOUN	_	_	3	_	_	_
4	wird	_	AUX	_	_	4	_	_	_
5	um	_	ADP	_	_	5	_	_	_
6	9.00	_	NUM	_	_	6	_	_	_
7	Uhr	_	NOUN	_	_	7	_	_	_
8	eröffnet	_	VERB	_	_	8	_	_	_
9	.	_	PUNCT	_	_	9	_	_	_
10	)	_	PUNCT	_	_	10	_	_	_

1	Als	_	ADP	_	_	1	_	_	_
2	nächster	_	ADJ	_	_	2	_	_	_
3	Punkt	_	NOUN	_	_	3	_	_	_
4	folgt	_	VERB	_	_	4	_	_	_
5	die	_	DET	_	_	5	_	_	_
6	Abstimmungsstunde	_	NOUN	_	_	6	_	_	_
7	.	_	PUNCT	_	_	7	_	_	_

1	Berichtigungen	_	NOUN	_	_	1	_	_	_
2	des	_	DET	_	_	2	_	_	_
3	Stimmverhaltens	_	NOUN	_	_	3	_	_	_
4	und	_	CONJ	_	_	4	_	_	_
5	beabsichtigtes	_	ADJ	_	_	5	_	_	_
6	Stimmverhalten	_	NOUN	_	_	6	_	_	_
7	:	_	PUNCT	_	_	7	_	_	_
8	siehe	_	VERB	_	_	8	_	_	_
9	Protokoll	_	PROPN	_	_	9	_	_	_

1	(	_	PUNCT	_	_	1	_	_	_
2	Die	_	DET	_	_	2	_	_	_
3	Sitzung	_	NOUN	_	_	3	_	_	_
4	wird	_	AUX	_	_	4	_	_	_
5	um	_	ADP	_	_	5	_	_	_
6	14.00	_	NUM	_	_	6	_	_	_
7	Uhr	_	NOUN	_	_	7	_	_	_
8	unterbrochen	_	VERB	_	_	8	_	_	_
9	und	_	CONJ	_	_	9	_	_	_
10	um	_	ADP	_	_	10	_	_	_
11	15.00	_	NUM	_	_	11	_	_	_
12	Uhr	_	NOUN	_	_	12	_	_	_
13	wieder	_	ADV	_	_	13	_	_	_
14	aufgenommen	_	VERB	_	_	14	_	_	_
15	.	_	PUNCT	_	_	15	_	_	_
16	)	_	PUNCT	_	_	16	_	_	_

1	Genehmigung	_	NOUN	_	_	1	_	_	_
2	des	_	DET	_	_	2	_	_	_
3	Protokolls	_	NOUN	_	_	3	_	_	_
4	der	_	DET	_	_	4	_	_	_
5	vorangegangenen	_	ADJ	_	_	5	_	_	_
6	Sitzung	_	NOUN	_	_	6	_	_	_
7	:	_	PUNCT	_	_	7	_	_	_
8	siehe	_	VERB	_	_	8	_	_	_
9	Protokoll	_	PROPN	_	_	9	_	_	_

1	Tagesordnung	_	NOUN	_	_	1	_	_	_
2	der	_	DET	_	_	2	_	_	_
3	nächsten	_	ADJ	_	_	3	_	_	_
4	Tagung	_	NOUN	_	_	4	_	_	_
5	:	_	PUNCT	_	_	5	_	_	_
6	siehe	_	VERB	_	_	6	_	_	_
7	Protokoll	_	PROPN	_	_	7	_	_	_

1	(	_	PUNCT	_	_	1	_	_	_
2	Die	_	DET	_	_	2	_	_	_
3	Sitzung	_	NOUN	_	_	3	_	_	_
4	wird	_	AUX	_	_	4	_	_	_
5	um	_	ADP	_	_	5	_	_	_
6	23.15	_	NUM	_	_	6	_	_	_
7	Uhr	_	NOUN	_	_	7	_	_	_
8	geschlossen	_	VERB	_	_	8	_	_	_
9	.	_	PUNCT	_	_	9	_	_	_
10	)	_	PUNCT	_	_	10	_	_	_

1	(	_	PUNCT	_	_	1	_	_	_
2	Die	_	DET	_	_	2	_	_	_
3	Sitzung	_	NOUN	_	_	3	_	_	_
4	wird	_	AUX	_	_	4	_	_	_
5	um	_	ADP	_	_	5	_	_	_
6	10.00	_	NUM	_	_	6	_	_	_
7	Uhr	_	NOUN	_	_	7	_	_	_
8	eröffnet	_	VERB	_	_	8	_	_	_
9	.	_	PUNCT	_	_	9	_	_	_
10	)	_	PUNCT	_	_	10	_	_	_

1	Vorlage	_	NOUN	_	_	1	_	_	_
2	von	_	ADP	_	_	2	_	_	_
3	Dokumenten	_	NOUN	_	_	3	_	_	_
4	:	_	PUNCT	_	_	4	_	_	_
5	siehe	_	VERB	_	_	5	_	_	_
6	Protokoll	_	PROPN	_	_	6	_	_	_

1	Genehmigung	_	NOUN	_	_	1	_	_	_
2	des	_	DET	_	_	2	_	_	_
3	Protokolls	_	NOUN	_	_	3	_	_	_
4	der	_	DET	_	_	4	_	_	_
5	vorangegangenen	_	ADJ	_	_	5	_	_	_
6	Sitzung	_	NOUN	_	_	6	_	_	_
7	:	_	PUNCT	_	_	7	_	_	_
8	siehe	_	VERB	_	_	8	_	_	_
9	Protokoll	_	PROPN	_	_	9	_	_	_

1	Debatten	_	NOUN	_	_	1	_	_	_
2	über	_	ADP	_	_	2	_	_	_
3	Fälle	_	NOUN	_	_	3	_	_	_
4	von	_	ADP	_	_	4	_	_	_
5	Verletzungen	_	NOUN	_	_	5	_	_	_
6	der	_	DET	_	_	6	_	_	_
7	Menschenrechte	_	NOUN	_	_	7	_	_	_
8	,	_	PUNCT	_	_	8	_	_	_
9	der	_	DET	_	_	9	_	_	_
10	Demokratie	_	NOUN	_	_	10	_	_	_
11	und	_	CONJ	_	_	11	_	_	_
12	der	_	DET	_	_	12	_	_	_
13	Rechtsstaatlichkeit	_	NOUN	_	_	13	_	_	_
14	(	_	PUNCT	_	_	14	_	_	_
15	Aussprache	_	NOUN	_	_	15	_	_	_
16	)	_	PUNCT	_	_	16	_	_	_

1	Zusammensetzung	_	NOUN	_	_	1	_	_	_
2	der	_	DET	_	_	2	_	_	_
3	Ausschüsse	_	NOUN	_	_	3	_	_	_
4	und	_	CONJ	_	_	4	_	_	_
5	der	_	DET	_	_	5	_	_	_
6	Delegationen	_	NOUN	_	_	6	_	_	_
7	:	_	PUNCT	_	_	7	_	_	_
8	siehe	_	VERB	_	_	8	_	_	_
9	Protokoll	_	PROPN	_	_	9	_	_	_

1	Beschlüsse	_	NOUN	_	_	1	_	_	_
2	über	_	ADP	_	_	2	_	_	_
3	bestimmte	_	ADJ	_	_	3	_	_	_
4	Dokumente	_	NOUN	_	_	4	_	_	_
5	:	_	PUNCT	_	_	5	_	_	_
6	siehe	_	VERB	_	_	6	_	_	_
7	Protokoll	_	PROPN	_	_	7	_	_	_

1	In	_	ADP	_	_	1	_	_	_
2	das	_	DET	_	_	2	_	_	_
3	Register	_	NOUN	_	_	3	_	_	_
4	eingetragene	_	ADJ	_	_	4	_	_	_
5	schriftliche	_	ADJ	_	_	5	_	_	_
6	Erklärungen	_	NOUN	_	_	6	_	_	_
7	(	_	PUNCT	_	_	7	_	_	_
8	Artikel	_	NOUN	_	_	8	_	_	_
9	116	_	PROPN	_	_	9	_	_	_
10	GO	_	PROPN	_	_	10	_	_	_
11	)	_	PUNCT	_	_	11	_	_	_
12	:	_	PUNCT	_	_	12	_	_	_
13	siehe	_	VERB	_	_	13	_	_	_
14	Protokoll	_	PROPN	_	_	14	_	_	_

1	Übermittlung	_	NOUN	_	_	1	_	_	_
2	der	_	DET	_	_	2	_	_	_
3	in	_	ADP	_	_	3	_	_	_
4	dieser	_	PRON	_	_	4	_	_	_
5	Sitzung	_	NOUN	_	_	5	_	_	_
6	angenommenen	_	ADJ	_	_	6	_	_	_
7	Texte	_	NOUN	_	_	7	_	_	_
8	:	_	PUNCT	_	_	8	_	_	_
9	siehe	_	VERB	_	_	9	_	_	_
10	Protokoll	_	PROPN	_	_	10	_	_	_

1	Zeitpunkt	_	NOUN	_	_	1	_	_	_
2	der	_	DET	_	_	2	_	_	_
3	nächsten	_	ADJ	_	_	3	_	_	_
4	Sitzungen	_	NOUN	_	_	4	_	_	_
5	:	_	PUNCT	_	_	5	_	_	_
6	siehe	_	VERB	_	_	6	_	_	_
7	Protokoll	_	PROPN	_	_	7	_	_	_

1	Ich	_	PRON	_	_	1	_	_	_
2	erkläre	_	VERB	_	_	2	_	_	_
3	die	_	DET	_	_	3	_	_	_
4	Sitzungsperiode	_	NOUN	_	_	4	_	_	_
5	des	_	DET	_	_	5	_	_	_
6	Europäischen	_	PROPN	_	_	6	_	_	_
7	Parlaments	_	PROPN	_	_	7	_	_	_
8	für	_	PROPN	_	_	8	_	_	_
9	unterbrochen	_	VERB	_	_	9	_	_	_
10	.	_	PUNCT	_	_	10	_	_	_

1	Vorlage	_	NOUN	_	_	1	_	_	_
2	von	_	ADP	_	_	2	_	_	_
3	Dokumenten	_	NOUN	_	_	3	_	_	_
4	:	_	PUNCT	_	_	4	_	_	_
5	siehe	_	VERB	_	_	5	_	_	_
6	Protokoll	_	PROPN	_	_	6	_	_	_

1	Schriftliche	_	ADJ	_	_	1	_	_	_
2	Erklärungen	_	NOUN	_	_	2	_	_	_
3	(	_	PUNCT	_	_	3	_	_	_
4	Artikel	_	NOUN	_	_	4	_	_	_
5	116	_	PROPN	_	_	5	_	_	_
6	GO	_	PROPN	_	_	6	_	_	_
7	)	_	PUNCT	_	_	7	_	_	_
8	:	_	PUNCT	_	_	8	_	_	_
9	siehe	_	VERB	_	_	9	_	_	_
10	Protokoll	_	PROPN	_	_	10	_	_	_

1	Mündliche	_	PROPN	_	_	1	_	_	_
2	Anfragen	_	NOUN	_	_	2	_	_	_
3	und	_	CONJ	_	_	3	_	_	_
4	schriftliche	_	ADJ	_	_	4	_	_	_
5	Erklärungen	_	NOUN	_	_	5	_	_	_
6	(	_	PUNCT	_	_	6	_	_	_
7	Vorlage	_	NOUN	_	_	7	_	_	_
8	)	_	PUNCT	_	_	8	_	_	_
9	:	_	PUNCT	_	_	9	_	_	_
10	siehe	_	VERB	_	_	10	_	_	_
11	Protokoll	_	PROPN	_	_	11	_	_	_

1	Übermittlung	_	NOUN	_	_	1	_	_	_
2	von	_	ADP	_	_	2	_	_	_
3	Abkommenstexten	_	NOUN	_	_	3	_	_	_
4	durch	_	ADP	_	_	4	_	_	_
5	den	_	DET	_	_	5	_	_	_
6	Rat	_	NOUN	_	_	6	_	_	_
7	:	_	PUNCT	_	_	7	_	_	_
8	siehe	_	VERB	_	_	8	_	_	_
9	Protokoll	_	PROPN	_	_	9	_	_	_

1	Weiterbehandlung	_	NOUN	_	_	1	_	_	_
2	der	_	DET	_	_	2	_	_	_
3	Standpunkte	_	NOUN	_	_	3	_	_	_
4	und	_	CONJ	_	_	4	_	_	_
5	Entschließungen	_	NOUN	_	_	5	_	_	_
6	des	_	DET	_	_	6	_	_	_
7	Parlaments	_	PROPN	_	_	7	_	_	_
8	:	_	PUNCT	_	_	8	_	_	_
9	siehe	_	VERB	_	_	9	_	_	_
10	Protokoll	_	PROPN	_	_	10	_	_	_

1	Zusammensetzung	_	NOUN	_	_	1	_	_	_
2	des	_	DET	_	_	2	_	_	_
3	Parlaments	_	PROPN	_	_	3	_	_	_
4	:	_	PUNCT	_	_	4	_	_	_
5	siehe	_	VERB	_	_	5	_	_	_
6	Protokoll	_	PROPN	_	_	6	_	_	_

1	Zusammensetzung	_	NOUN	_	_	1	_	_	_
2	der	_	DET	_	_	2	_	_	_
3	Ausschüsse	_	NOUN	_	_	3	_	_	_
4	und	_	CONJ	_	_	4	_	_	_
5	Delegationen	_	NOUN	_	_	5	_	_	_
6	:	_	PUNCT	_	_	6	_	_	_
7	siehe	_	VERB	_	_	7	_	_	_
8	Protokoll	_	PROPN	_	_	8	_	_	_

1	Zusammensetzung	_	NOUN	_	_	1	_	_	_
2	der	_	DET	_	_	2	_	_	_
3	Fraktionen	_	NOUN	_	_	3	_	_	_
4	:	_	PUNCT	_	_	4	_	_	_
5	siehe	_	VERB	_	_	5	_	_	_
6	Protokoll	_	PROPN	_	_	6	_	_	_

1	Unterzeichnung	_	NOUN	_	_	1	_	_	_
2	von	_	ADP	_	_	2	_	_	_
3	Rechtsakten	_	NOUN	_	_	3	_	_	_
4	,	_	PUNCT	_	_	4	_	_	_
5	die	_	DET	_	_	5	_	_	_
6	im	_	ADJ	_	_	6	_	_	_
7	Mitentscheidungsverfahren	_	NOUN	_	_	7	_	_	_
8	angenommen	_	VERB	_	_	8	_	_	_
9	wurden	_	AUX	_	_	9	_	_	_
10	:	_	PUNCT	_	_	10	_	_	_
11	siehe	_	VERB	_	_	11	_	_	_
12	Protokoll	_	PROPN	_	_	12	_	_	_

1	Anzahl	_	NOUN	_	_	1	_	_	_
2	und	_	CONJ	_	_	2	_	_	_
3	zahlenmäßige	_	ADJ	_	_	3	_	_	_
4	Zusammensetzung	_	NOUN	_	_	4	_	_	_
5	der	_	DET	_	_	5	_	_	_
6	interparlamentarischen	_	ADJ	_	_	6	_	_	_
7	Delegationen	_	NOUN	_	_	7	_	_	_
8	(	_	PUNCT	_	_	8	_	_	_
9	Frist	_	NOUN	_	_	9	_	_	_
10	für	_	ADP	_	_	10	_	_	_
11	die	_	DET	_	_	11	_	_	_
12	Einreichung	_	NOUN	_	_	12	_	_	_
13	von	_	ADP	_	_	13	_	_	_
14	Änderungsanträgen	_	NOUN	_	_	14	_	_	_
15	)	_	PUNCT	_	_	15	_	_	_
16	:	_	PUNCT	_	_	16	_	_	_
17	siehe	_	VERB	_	_	17	_	_	_
18	Protokoll	_	PROPN	_	_	18	_	_	_

1	Tagesordnung	_	NOUN	_	_	1	_	_	_
2	der	_	DET	_	_	2	_	_	_
3	nächsten	_	ADJ	_	_	3	_	_	_
4	Sitzung	_	NOUN	_	_	4	_	_	_
5	:	_	PUNCT	_	_	5	_	_	_
6	siehe	_	VERB	_	_	6	_	_	_
7	Protokoll	_	PROPN	_	_	7	_	_	_

1	(	_	PUNCT	_	_	1	_	_	_
2	Die	_	DET	_	_	2	_	_	_
3	Sitzung	_	NOUN	_	_	3	_	_	_
4	wird	_	AUX	_	_	4	_	_	_
5	um	_	ADP	_	_	5	_	_	_
6	23.10	_	NUM	_	_	6	_	_	_
7	Uhr	_	NOUN	_	_	7	_	_	_
8	geschlossen	_	VERB	_	_	8	_	_	_
9	.	_	PUNCT	_	_	9	_	_	_
10	)	_	PUNCT	_	_	10	_	_	_

